.container {
    background-color: rgba(29, 29, 29, 0.8);
    height: 100vh;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.img-hide {
    display: none;
}

.card-select {
    cursor: pointer;
}

.image-border {
    border: groove;
}

.btn-start {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
    color: #d7d9da;
    background-color: #1e0f8f;
    border-style: solid;
    border-color: #d7d9da;
    border-width: 3px;
    border-radius: 6px;
    width: 150px;
    height: 70px;
}

.total-score {
    display: none;
}

#end-score {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #d7d9da;
    margin: auto;
}

.hide-score {
    display: none;
}

.bg-img {
    background-image: url("../images/map.jpg");
    object-fit: fill;
}
.card {
    border-style: solid;
    border-color: #d7d9da;
    border-width: 3px;
    border-radius: 6px;
}

.card-orange {
    background-color: #f7b91e;
}

.card-grey {
    background-color: darkgray;
}

.card-body {
    padding: 8px;
}

.row-padding {
    padding-bottom: 2rem;
}

.btn-reset {
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    color: #d7d9da;
    background-color: #8f0f0f;
    border-style: solid;
    border-color: #d7d9da;
    border-width: 3px;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    margin: 40px;
}

#myProgress {
    width: 80%;
    background-color: rgba(29, 29, 29, 0.1);
    margin: auto;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-image: linear-gradient(to right, #23ae2d, #759d00, #a68500, #ce6400, #eb2e12);
  }

  .row>* {
    padding-left: 0;
    padding-right: 0;
  }

@media only screen and (min-width: 787px) {
    img .card {
        width: 385px;
        height: 200px;
        margin: auto;
    }

    .container {
        padding: 3rem 1rem 10rem 1rem;
    }

    .game-btn {
        padding: 3rem 1rem 10rem 1rem;
    }

    .card-padding {
        padding: 1rem;
    }
}

@media only screen and (max-width: 787px) {
    #game-img {
        height: 80px;
    }

    .card-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-padding {
        padding: 5px;
    }

    #end-score {
        font-size: small;
        display: flex;
        flex-direction: row;
    }

    .btn-start {
        width: 80px;
        height: 40px;
        font-size: small;
    }

    .btn-reset {
        width: 80px;
        height: 30px;
        font-size: small;
    }

    .game-btn {
        padding: 0.5rem 1rem 2rem 1rem;
    }

    .card-body {
        padding: 5px;
    }

    #myProgress {
        width: 80%;
        padding: 20px 0 20px 0;
      }
}
