.container {
    padding: 0 6rem 6rem 6rem;
    background-color: rgba(29, 29, 29, 0.8);
}

.img-hide {
    display: none;
}

.card-select {
    cursor: pointer;
}

.image-border {
    border: groove;
}

.btn-start {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
    color: #d7d9da;
    background-color: #8f0f0f;
    border-style: solid;
    border-color: #d7d9da;
    border-width: 3px;
    border-radius: 6px;
    width: 150px;
    height: 70px;
}

.total-score {
    display: none;
}

#end-score {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.hide-score {
    display: none;
}

.bg-img {
    background-image: url("../images/map.jpg");
    object-fit: fill;
}

.card {
    background-color: #f7b91e;
}
